.chat-container {
  display: flex;
  height: 100%;
}

.chat-list {
  width: 25%;
  background-color: white;
  border-right: 2px solid #89343B;    
  padding: 20px;
  padding-left: 70px;
  height: 90vh;
}

.chats {
  color: #89343B; 
  font-size: 35px;
  margin-bottom: 20px;
}

.chat-message-preview {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #eee;
  cursor: pointer;
  font-size: 20px;
}

.chat-message-preview:hover {
  background-color: #f5f5f5;
}

.name {
  font-weight: bold;
  margin: 0;
  color: #89343B;
}

.message {
  padding: 8px;
  margin: 5px;
  border-radius: 10px;
  max-width: 60%;
}

.sent {
  background-color: #DCF8C6;
  align-self: flex-start; /* Align to left */
  text-align: left; /* Align text to the left */
}

.received {
  background-color: #FFF;
  align-self: flex-start;
  text-align: left; /* Align text to the left */
}

.chat-window {
  width: 75%;
  display: flex;
  flex-direction: column;
  background-color: white;
}

.chat-header {
  display: flex;
  align-items: center;
  background-color: #F8C400; 
  padding: 10px 20px;
}

.profile-pic {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 15px;
}

.chat-username {
  font-size: 25px;
  margin: 0;
  color: #89343B;
}

.chat-messages {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
}

.lower-chat {
  display: flex;
  align-items: center;  
  padding: 10px;
  background-color: #f5a623; 
  gap: 10px; 
}

.chat-input {
  flex: 1;  
  padding: 12px;
  border: 2px solid #89343B;
  border-radius: 20px;
  outline: none;
  max-width: 100%; 
  box-shadow: 0 0 8px #89343B;
  margin-left: 20px;
}

.send-button {
  background: none;       
  color: #89343B;           
  padding: 0;               
  border: none;             
  border-radius: 0;         
  cursor: pointer;          
  font-size: 40px;          
  margin-left: 2px;
  align-items: center;  
}

.chat-list ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.chat-list li {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.chat-list li:hover, .chat-list li.selected {
  background-color: #f0f0f0;
}

.sidebar-profile-pic {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin-right: 10px;
}

.message-header {
  display: flex;
  justify-content: space-between;
  font-size: 0.8rem;
  color: #444;
}

.sender-name {
  font-weight: bold;
}

.timestamp {
  color: #888;
  margin-left: 8px;
}

.message-content {
  background-color: #f1f1f1;
  padding: 8px;
  border-radius: 8px;
  max-width: 70%;
}

.sent .message-content {
  background-color: #d1e7dd;
}

.received .message-content {
  background-color: #f8d7da;
}
