
.bg-image {
    background-image: url("../images/bgLogin.jpg"); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1; 
    filter: blur(10px); 
}


.login-container {
    position: relative;
    background: rgba(255, 255, 255, 0.2); 
    padding: 30px;
    border-radius: 15px;
    text-align: center;
    backdrop-filter: blur(50px);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    border: 3px solid #F8C400; 
    width: 300px; 
    margin: auto;
    margin-top: 10%;
}

.login-container h1 {
    margin-left: 0px;
    color: #F8C400;
    font-size: 24px;
    font-weight: bold;
}

.login-container input {
    background: rgba(174, 84, 84, 0.2); 
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 2px solid #89343B;
    border-radius: 16px;
    font-size: 16px;
    color: #F8C400;
}
.login-container input::placeholder {
    color: #F8C400; 
    opacity: 1; 
}


.login-container button {
    background: #89343B;
    color: #F8C400;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.login-container button:hover {
    background: #F8C400;
    color: #89343B;
    transition: 0.3s;
}

.login-container a {
    text-decoration: none;
    color: #F8C400;
    font-size: 16px;
    margin-top: 10px;
    text-decoration-line: underline;
}



