.homepage-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
}

.homepage-content {
  margin-top: 10px;
  margin-left: 50px;
  padding: 20px;
  font-family: 'Poppins', sans-serif;
  background-color: #fff9f0;
  border: 2.5px solid #89343B;
  border-radius: 10px;
}

.admin-info h2 {
  margin: 0;
  color: #89343B;
}

.admin-role {
  color: #89343B;
  margin-top: 4px;
  margin-bottom: 20px;
}

.dashboard-stats {
  display: flex;
  gap: 20px;
  margin-top: 10px;
  margin-bottom: 30px;
}

.stat-card {
  width: 180px;
  height: 150px;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1);
}

.stat-card h3 {
  font-size: 14px;
  margin-bottom: 10px;
}

.stat-card p {
  font-size: 30px;
  font-weight: bold;
}

.stat-card.maroon {
  background-color: #89343B;
  color: #F8C400;
}

.stat-card.yellow {
  background-color: #FFE98A;
  color: #89343B;
}

.divider {
  border: none;
  border-top: 2px solid #89343B;
  width: 100%;
  margin-bottom: 30px;
}

.announcements-card {
  background-color: #FFE98A;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1);
  width: 60%;
}

.announcements-card h3 {
  color: #89343B;
  margin: 0;
}
