.sidebar-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    }
  
  .toggle-btn {
    margin-top: -160px;
    background-color: #F8C400;
    width: 200px;
    height: 100px;
    padding: 10px;
    cursor: pointer;
    color: maroon;
    font-size: 24px;
    position: fixed;
    left: 10px;
    margin-left: -210px;
    z-index: 1000;
    border-radius: 5px;
    display: flex;
    align-items: right;
    justify-content: right;
    transition: transform 0.3s ease-in-out; 
  }
  
  .sidebar {
    background-color: #F8C400;
    width: 200px;
    min-height: 85vh;
    padding: 20px 10px;
    position: fixed;
    top: 100px;
    left: 0;
    z-index: 999;
    display: flex;
    flex-direction: column;
    gap: 10px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    justify-content: flex-start;
    transition: transform 0.3s ease-in-out; 
  }
  
  .sidebar.open {
    transform: translateX(0); 
  }
  
  .sidebar.closed {
    transform: translateX(-200px); 
  }
  
  .sidebar.open + .toggle-btn {
    transform: translateX(200px); 
  }
  
  .sidebar-link {
    margin-top: 20px;
    padding: 10px;
    background-color: maroon;
    color: #F8C400;
    text-align: center;
    border-radius: 16px;
    text-decoration: none;
    font-weight: bold;
  }
  
  .sidebar-link:hover {
    background-color: #8b0000;
  }
  
  .logout-btn {
    margin-top: auto; 
    background-color: maroon;
    color: #F8C400;
    padding: 10px;
    border: none;
    border-radius: 16px;
    cursor: pointer;
    margin-bottom: 20px;
    margin-left: 25px;
  }
  